## Data obtained from https://www.kaggle.com/heeraldedhia/groceries-dataset

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori

In [ ]:
store_data = pd.read_csv(r'D:\DATA_BASE\groceries_dataset_relational_data\Groceries_dataset.csv')

In [3]:
store_data.describe()

       Member_number
count   38765.000000
mean     3003.641868
std      1153.611031
min      1000.000000
25%      2002.000000
50%      3005.000000
75%      4007.000000
max      5000.000000

In [4]:
store_data.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [5]:
dictionary = {}
for index, row in store_data.iterrows():
    key = str(row['Member_number']) + str(row['Date'])
    if key not in dictionary.keys():
        dictionary[key] = []
        dictionary[key].append(row['itemDescription'])
    elif key in dictionary.keys():
        dictionary[key].append(row['itemDescription'])

count = 0
for key in dictionary.keys():
    print(key, dictionary[key])
    if count >= 10:
        break
    count += 1

180821-07-2015 ['tropical fruit', 'rolls/buns', 'candy']
255205-01-2015 ['whole milk', 'tropical fruit', 'chocolate']
230019-09-2015 ['pip fruit', 'other vegetables', 'flour']
118712-12-2015 ['other vegetables', 'onions', 'shopping bags']
303701-02-2015 ['whole milk', 'other vegetables', 'white bread']
494114-02-2015 ['rolls/buns', 'citrus fruit', 'fruit/vegetable juice']
450108-05-2015 ['other vegetables', 'bottled water', 'shopping bags']
380323-12-2015 ['pot plants', 'citrus fruit', 'whipped/sour cream']
276220-03-2015 ['whole milk', 'specialty bar', 'newspapers']
411912-02-2015 ['tropical fruit', 'citrus fruit', 'soda']
134024-02-2015 ['citrus fruit', 'rolls/buns', 'pastry']

In [6]:
records = []
for key in dictionary.keys():
    records.append(dictionary[key])
    
records[:10]

[['tropical fruit', 'rolls/buns', 'candy'],
 ['whole milk', 'tropical fruit', 'chocolate'],
 ['pip fruit', 'other vegetables', 'flour'],
 ['other vegetables', 'onions', 'shopping bags'],
 ['whole milk', 'other vegetables', 'white bread'],
 ['rolls/buns', 'citrus fruit', 'fruit/vegetable juice'],
 ['other vegetables', 'bottled water', 'shopping bags'],
 ['pot plants', 'citrus fruit', 'whipped/sour cream'],
 ['whole milk', 'specialty bar', 'newspapers'],
 ['tropical fruit', 'citrus fruit', 'soda']]

In [7]:
association_rules = apriori(records, min_support=0.0005, min_confidence=0.1, min_lift=2, min_length=2)
association_results = list(association_rules)

In [8]:
print(len(association_results))

9

In [9]:
print(association_results[0])

RelationRecord(items=frozenset({'whole milk', 'brandy'}), support=0.0008688097306689834, ordered_statistics=[OrderedStatistic(items_base=frozenset({'brandy'}), items_add=frozenset({'whole milk'}), confidence=0.34210526315789475, lift=2.1662805978127717)])

In [10]:
for item in association_results:

    # first index of the inner list
    # Contains base item and add item
    pair = item[0] 
    items = [x for x in pair]
    print("Rule: " + items[0] + " -> " + items[1])

    #second index of the inner list
    print("Support: " + str(item[1]))

    #third index of the list located at 0th
    #of the third index of the inner list

    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("=====================================")

Rule: whole milk -> brandy
Support: 0.0008688097306689834
Confidence: 0.34210526315789475
Lift: 2.1662805978127717
=====================================
Rule: pip fruit -> sweet spreads
Support: 0.0005346521419501437
Confidence: 0.11764705882352942
Lift: 2.398301009777208
=====================================
Rule: soda -> spices
Support: 0.0006014836596939117
Confidence: 0.225
Lift: 2.317050929112182
=====================================
Rule: tropical fruit -> sweet spreads
Support: 0.0007351466951814476
Confidence: 0.16176470588235295
Lift: 2.387066365007542
=====================================
Rule: other vegetables -> sausage
Support: 0.0005346521419501437
Confidence: 0.2758620689655173
Lift: 2.259290715890003
=====================================
Rule: soda -> sausage
Support: 0.0005346521419501437
Confidence: 0.13114754098360656
Lift: 2.1731568723562624
=====================================
Rule: sausage -> pork
Support: 0.0006014836596939117
Confidence: 0.391304347826087
Lift: 2.4778192791035716
=====================================
Rule: whipped/sour cream -> yogurt
Support: 0.0006014836596939117
Confidence: 0.20454545454545456
Lift: 2.3818004952246197
=====================================
Rule: yogurt -> sausage
Support: 0.0014702933903628951
Confidence: 0.1317365269461078
Lift: 2.1829165589087607
=====================================